.wrapper{
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.container{
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.visible_mob{
	display: none;
}
.d-flex{
	display: flex;
	flex-wrap:wrap;
}
.align-items-center{
	align-items:center;
}
.h-100{
	height: 100%;
}
.img-fluid{
	display: block;
	max-width: 100%;
	height: auto;
}
.ml-auto{
	margin-left: auto !important;
}
.text-uppercase{
	text-transform: uppercase !important;
}
.row{
	display: flex;
	flex-wrap:wrap;
	margin: 0 -15px;
	&.no-gutters{
		margin: 0;
		[class *= "col-"]{
			padding: 0;
		}
	}
}
.col-6{
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 15px;
}
.col{
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
	padding: 0 15px;
}
.mt_10{
	margin-top: 10px !important;
}
.text-right{
	text-align: right !important;
}
.hovered_img{
	img{
		filter: grayscale(1);
		transition: all 0.3s ease;
	}
	&:hover{
		img{
			filter: grayscale(0);
			transition: all 0.5s ease;
		}
	}

}
.pb_5{
	padding-bottom: 5px;
}
.pt_5{
	padding-top: 5px;
}
.btn{
	max-width: 380px;
	max-width:calc(380vw / 19.2);
	display: inline-block;
	width: 100%;
	border: 1px solid #707070;
	color: #777;
	text-align: center;
	font-size: 36px;
	line-height: 38px;
	font-size: calc(36vw / 19.2);
	line-height: calc(38vw / 19.2);
	padding: 15px 5px;
	padding:calc(15vw / 19.2) calc(5vw / 19.2);
	transition: all 0.3s ease;
	&:hover{
		background: #707070;
		color: #fff;
		transition: all 0.5s ease;
		text-decoration: none;
	}
	@media screen and (max-width: 960px){
		max-width: 185px;
		font-size: 18px;
		line-height: 20px;
		padding: 10px 5px;
	}
	@media screen and (max-width: 550px){
		padding: 6px 5px;
	}
}
@media screen and (max-width: 960px){
	.col-md-12{
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media screen and (max-width: 960px){
	.hidden_mob{display: none !important;}
	.visible_mob{display: block !important;}
}